<% if @cart.empty? %>
  <p class="text-black">No items in the cart</p>
<% else %>
  <ul class="text-black">
    <% @cart.each do |product| %>
      <li><%= product.name %>
    </li>
    <% end %>
  </ul>
<% end %>
