<div class="m-5 flex flex-row">
  <details>
    <summary> Shopping Cart</summary>
    <% if @cart.empty? %>
      <p>No items in the cart</p>
    <% else %>
      <ul>
        <% @cart.each do |product| %>
          <li><%= product.name %>
          <p><%= button_to 'Remove from cart', remove_from_cart_path(product), method: :delete %></p>
        </li>
        <% end %>
      </ul>
    <% end %>
  </details>
</div>
